<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Instant-Life cycle</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <p>{{ obj.foo }}</p>
        <button v-on:click="obj.foo = 'baz'">Change it</button>
        <div id="todo-list">
            <ol>
                <todo-item v-for="item in categoryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
            </ol>
        </div>
    </div>
</body>
<script src="main.js"></script>

</html>