<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduction</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1>{{ message }}</h1>
    </div>
    <div id="app1">
        <span v-bind:title="title">{{title}}</span>
    </div>
    <div id="app2">
        <span v-bind:title="message">
          Rê chuột lên đây một vài giây để xem thuộc tính `title` được bind!
        </span>
    </div>
    <div id="app3">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>
    <div id="app4">
        <p v-if="statusMessage">{{ message }}</p>
        <button v-on:click="changeMessage">Change Message</button>
        <button v-on:click="handleHiddenShow">hidden/show Message</button>
    </div>
    <div id="app5">
        <p>{{ message }}</p>
        <input v-model="message">
    </div>
    <div id="app6">
        <ol>
            <todo-item v-for="item in categoryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
        </ol>
    </div>
</body>
<script src="main.js"></script>

</html>